@if (searchTerm) {
  <main class="p-10 bg-[#1e1e1e] h-full text-white ">

    <h2 class="text-lg text-gray-300 mt-2">
      Resultados de "<span class="font-semibold text-white">{{ searchTerm }}</span
      >"
    </h2>
    <div class="md:columns-3 gap-2 mt-6">
    @for (game of games(); track game.name) {
      <div
        class="bg-[#2d2d2d] mb-2 rounded-xl overflow-hidden border border-[#525252] hover:transform hover:scale-105 duration-300 ease-in-out md:min-h-70"
        (click)="goToDetails(game.id)"
      >
        <img [src]="game.background_image" [alt]="game.name" class="h-60 2xl:h-70 w-full object-cover" />

        <div class="p-4">
          <h2 class="font-semibold">{{ game.name }}</h2>

          <div class="flex justify-between text-sm mt-2">
            <span>Data</span>
            <span>{{ game.released | date: 'dd/MM/yyyy' }}</span>
          </div>

          <div class="flex justify-between text-sm mt-2">
            <span>Gênero:</span>
            <span>{{ getGenres(game) }}</span>
          </div>
        </div>
      </div>
    }
  </div>
  </main>
  } @else if (!searchTerm) {
    @if (game()) {
      <div
        class="bg-[#1e1e1e] text-white h-full min-h-190 p-10 2xl:px-40 relative "
      >
        <div class="flex flex-col-reverse md:flex-row-reverse gap-10 justify-between">
          <div class="flex flex-col md:w-180 gap-2">
            <h1 class="text-3xl font-bold">{{ game()?.name }}</h1>
            <div class="flex gap-4 overflow-auto">
              @for (genre of game()?.genres; track genre.name) {
                <span class="px-3 py-1 bg-zinc-800 rounded max-w-max ">
                  {{ genre.name }}
                </span>
              }
            </div>
            <div
              [style.border-color]="getRatingColor(game()!.rating ?? 0)"
              [style.color]="getRatingColor(game()!.rating ?? 0)"
              class="border rounded px-2 max-w-max"
            >
              {{ game()!.rating }}
            </div>
          </div>
          <img [src]="game()?.background_image" class="rounded-xl w-150 max-h-70 object-cover" />
        </div>

        <div class="prose prose-invert max-w-none mt-6">{{ game()?.description_raw}}</div>

        <div class="flex gap-2 mt-4"></div>
      </div>
    }
  }
