<main class="p-10 rounded-2xl">
  <h1 class="text-4xl font-bold">Novos jogos</h1>

  <div class=" w-2xs h-70 bg-gray-200 mt-10">
    <img src="" alt="imagem do jogo" class="h-[50%] bg-amber-200">

    <div class="p-4">
      <div>
        <img src="" alt="plataforma">
      </div>
      <h1 class="font-bold text-2xl">Nome jogo</h1>
      <div>
        <div class="flex justify-between">
          <span class="text-sm">Data de lançamento</span>
          <span class="text-sm font-semibold">01/01/01</span>
        </div>
        <div class="flex justify-between">
          <span class="text-sm">Genero</span>
          <span class="text-sm font-semibold">Ação, Aventura</span>
        </div>
      </div>
    </div>
  </div>
</main>
