<section
  class="w-[15vw] h-screen bg-[#2d2d2d] border border-[#525252] text-white md:flex flex-col p-4 hidden"
>
  <div class="w-full flex flex-col items-start gap-5" >
    <app-seach-input />
    <button class="cursor-pointer hover:text-[#FF2C2C]" (click)="goToPopular()">
      <h1>Populares</h1>
    </button>
    <button class="cursor-pointer hover:text-[#FF2C2C]" (click)="gotToBestRated()">
      <h1>Bem avaliados</h1>
    </button>
    <button class="cursor-pointer hover:text-[#FF2C2C]" (click)="goToDeveloper()">
      <h1>desenvolvedor</h1>
    </button>
  </div>
</section>
