/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";

.p-inputtext {
  background-color: #1a1A1A !important;
  color: white !important;
}
.p-inputtext:focus,
.p-inputtext:focus-visible,
.p-inputtext.p-focus {
  border-color: #057aff !important; /* red-600 */
}

