/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'primeicons/primeicons.css';

.p-inputtext {
  background-color: #1a1a1a !important;
  color: white !important;
}
.p-inputtext:focus,
.p-inputtext:focus-visible,
.p-inputtext.p-focus {
  border-color: #FF2C2C !important; /* red-600 */
}
.p-button {
  background-color: transparent !important;
  border: none !important;
}
.p-drawer {
  background-color: #1e1e1e !important;
  border: none !important;
}
@layer utilities {
  /* largura do scrollbar */
  .scrollbar-hidden::-webkit-scrollbar {
    width: 6px;
  }

  /* fundo do scrollbar (invisível) */
  .scrollbar-hidden::-webkit-scrollbar-track {
    background: transparent;
  }

  /* a “bolinha” do scroll */
  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: #FF2C2C;
    border-radius: 999px;
  }

  /* opcional: hover */
  .scrollbar-hidden::-webkit-scrollbar-thumb:hover {
    background-color: #FF2C2C;
  }
}
