/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'primeicons/primeicons.css';

.p-inputtext {
  background-color: #1a1a1a !important;
  color: white !important;
}
.p-inputtext:focus,
.p-inputtext:focus-visible,
.p-inputtext.p-focus {
  border-color: #057aff !important; /* red-600 */
}
.p-button {
  background-color: transparent !important;
  border: none !important;
}
.p-drawer {
  background-color: #1e1e1e !important;
  border: none !important;
}
